Repository voxpupuli/puppet-k8s, pull requests merged in 2023-07, with the labels that each got.

#60 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#59 do more precisely naming
  README.md
  REFERENCE.md
  examples/simple_setup/manifests/controller.pp
  examples/simple_setup/manifests/worker.pp
  manifests/init.pp
  manifests/node.pp
  manifests/node/kube_proxy.pp
  manifests/node/kubelet.pp
  manifests/server.pp
  manifests/server/apiserver.pp
  manifests/server/controller_manager.pp
  manifests/server/resources.pp
  manifests/server/resources/bootstrap.pp
  manifests/server/resources/coredns.pp
  manifests/server/scheduler.pp
Labels: backwards-incompatible

#42 Handle file mode for kubeconfig files
  REFERENCE.md
  lib/puppet/provider/kubeconfig/ruby.rb
  lib/puppet/type/kubeconfig.rb
  spec/unit/puppet/provider/kubeconfig/kubectl_spec.rb
  spec/unit/puppet/provider/kubeconfig/ruby_spec.rb
  spec/unit/puppet/type/kubeconfig_spec.rb
Labels: enhancement

#62 add possibillity to use imagePullSecrets
  REFERENCE.md
  manifests/server/resources.pp
  manifests/server/resources/coredns.pp
  manifests/server/resources/flannel.pp
  manifests/server/resources/kube_proxy.pp
  spec/fixtures/files/resources/kube-proxy-older.yaml
  spec/fixtures/files/resources/kube-proxy.yaml
Labels: enhancement

#57 Update container references to active registry
  REFERENCE.md
  manifests/init.pp
  manifests/server/apiserver.pp
  manifests/server/controller_manager.pp
  manifests/server/resources.pp
  manifests/server/resources/coredns.pp
  manifests/server/resources/flannel.pp
  manifests/server/resources/kube_proxy.pp
  manifests/server/scheduler.pp
  spec/fixtures/files/resources/kube-proxy-older.yaml
  spec/fixtures/files/resources/kube-proxy.yaml
Labels: enhancement

#52 Expand use of Sensitive to match node tokens
  REFERENCE.md
  manifests/node.pp
  manifests/node/kube_proxy.pp
  manifests/node/kubelet.pp
  spec/classes/node/kube_proxy_spec.rb
Labels: bug

#65 remove --container-runtime for k8s versions > 1.26
  manifests/node/kubelet.pp
Labels: backwards-incompatible
