Repository voxpupuli/puppet-k8s, pull requests merged in 2023-04, with the labels that each got.

#27 Fix generated kube-proxy configmap
  manifests/server/resources/kube_proxy.pp
  spec/fixtures/files/resources/kube-proxy-older.yaml
  spec/fixtures/files/resources/kube-proxy.yaml
Labels: bug

#40 Fix unintentional CA recreation if missing serial
  manifests/server/tls/ca.pp
  spec/defines/server/tls/ca_spec.rb
Labels: bug

#44 modulesync 5.5.0
  .github/SECURITY.md
  .github/workflows/ci.yml
  .gitignore
  .msync.yml
  .pmtignore
  .rubocop.yml
  Gemfile
  Rakefile
Labels: modulesync

#48 update etcd installation
  REFERENCE.md
  manifests/server/etcd.pp
  manifests/server/etcd/setup.pp
  templates/etcd.service.epp
Labels: enhancement

#46 use etcd cluster name also in apiserver to collect only the matching etcd cluster
  REFERENCE.md
  manifests/init.pp
  manifests/server.pp
  manifests/server/apiserver.pp
  manifests/server/etcd.pp
Labels: enhancement

#49 refactor repo.pp - cleanup code, add case instead of if-blocks, remove old debian, only install needed repos
  REFERENCE.md
  manifests/repo.pp
Labels: enhancement

#53 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
