Repository voxpupuli/puppet-k8s, pull requests merged in 2023-12, with the labels that each got.

#75 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#74 Make Coredns config configurable
  REFERENCE.md
  data/common.yaml
  manifests/init.pp
  manifests/server/resources/coredns.pp
  templates/server/resources/coredns_corefile.epp
Labels: enhancement

#76 Add parameter documentation to every class/define
  .puppet-lint.rc
  REFERENCE.md
  manifests/binary.pp
  manifests/init.pp
  manifests/install/cni_plugins.pp
  manifests/install/container_runtime.pp
  manifests/node.pp
  manifests/node/kube_proxy.pp
  manifests/node/kubectl.pp
  manifests/node/kubelet.pp
  manifests/repo.pp
  manifests/server.pp
  manifests/server/apiserver.pp
  manifests/server/bootstrap_token.pp
  manifests/server/controller_manager.pp
  manifests/server/etcd.pp
  manifests/server/etcd/member.pp
  manifests/server/etcd/setup.pp
  manifests/server/resources.pp
  manifests/server/resources/bootstrap.pp
  manifests/server/resources/flannel.pp
  manifests/server/resources/kube_proxy.pp
  manifests/server/scheduler.pp
  manifests/server/tls.pp
  manifests/server/tls/ca.pp
  manifests/server/tls/cert.pp
  manifests/server/tls/k8s_sign.pp
  manifests/server/wait_online.pp
Labels: documentation
